* {
    margin: 0px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.dashboard {
    background-color: lightseagreen;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    row-gap: 10px;
    display: grid;
    padding: 10px;
}

.dashboard-logo,
.dashboard-content-1,
.dashboard-content-2 {
    color: white;
    border: 1px solid red;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.main-header {
    background-color: white;
    display: grid;
    grid-template-columns: 4fr 3fr;
    column-gap: 10px;
    padding: 10px;
}

.header-left,
.header-right {
    background-color: lightseagreen;
    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 10px;
    padding: 10px;
}

.header-left-top,
.header-left-bottom,
.header-right-top,
.header-right-bottom {
    background-color: aqua;
}

.main-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
}

.main-area-col-1 {
    background-color:aqua;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    padding: 10px;
}

.main-area-col-1 > div,
.main-area-col-2 > div,
.main-area-col-3 > div {
    background-color: aliceblue;
}

.main-area-col-2 {
    background-color:lightseagreen;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    padding: 10px;
}

.main-area-col-3 {
    background-color:aqua;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    padding: 10px;
}